@model UsuarioModel

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.Nome</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contatos</a>
        </li>
        @if (Model.Perfil == ControleDeContatos.Enums.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
            </li>
        }

        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle active" data-toggle="dropdown" asp-area="">Relatórios</a>
            <ul class="dropdown-menu">
                <h1 class="dropdown-header "><strong>Busca avançada de Contatos</strong></h1>
                <hr class="dropdown-divider" />
                <h1 class="dropdown-header">Informações Pessoais</h1>
                <li><a href="#" class="dropdown-item">Pesquisa por Nome</a></li>
                <li><a href="#" class="dropdown-item">Pesquisa por Estado</a></li>
                <hr class="dropdown-divider" />
                <h1 class="dropdown-header"> Informações Empresariais</h1>
                <li><a asp-controller="Relatorio" asp-action="BuscarPorData" class="dropdown-item">Data de Cadastro</a></li>
                <li><a href="#" class="dropdown-item">Nome da Empresa</a></li>
                <hr class="dropdown-divider" />
                <h1 class="dropdown-header">Todos os relatórios</h1>
                <li><a asp-controller="Relatorio" asp-action="Index" class="dropdown-item">Página de Busca</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AlterarSenha" asp-action="Index">Alterar Senha</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark " asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>
    </ul>
</div>